body{
    background-image: url(kepek/kep1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(16, 9, 9, 0.076);


}

h1{
    text-align: center;
    color: ;

}
